* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62.5%;
  background-color: white;
  color: black; }

header h1 {
  display: none; }

header img {
  margin-left: 15vw;
  width: 70px;
  height: 70px; }
  header img:hover {
    transform: rotate(90deg); }

header li {
  margin-left: 5vw;
  display: inline-block;
  padding-right: 35px;
  color: black;
  list-style-type: none;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6rem; }
  header li a {
    text-decoration: none;
    color: black; }

footer {
  display: flex;
  align-items: center;
  justify-content: center; }
  footer li {
    list-style-type: none;
    display: inline-block;
    padding-right: 20px; }

.redes {
  height: 32px;
  width: 32px; }

.main__wwd {
  margin-top: 15vh;
  font-family: "Cormorant Garamond", serif; }
  .main__wwd p {
    font-size: 1.5rem; }

.wwdSection {
  margin-top: 5vh; }
  .wwdSection .music {
    font-family: "Cormorant Garamond", serif; }
  .wwdSection iframe {
    width: 90vw;
    margin: 0 auto;
    display: block;
    margin-bottom: 10vh; }

.mainNews {
  margin-top: 8vh;
  font-family: "Cormorant Garamond", serif;
  text-align: justify;
  margin-bottom: 10vh; }
  .mainNews li {
    margin: 4vh;
    list-style: none; }
    .mainNews li p {
      font-size: 1.5rem; }
      .mainNews li p a {
        color: crimson; }

.section__explore {
  display: inline-block;
  margin-top: 15vh;
  font-family: "Cormorant Garamond", serif;
  font-weight: 170;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #050404;
  outline: 2px black;
  margin-bottom: 10vh;
  padding: 20px 50px;
  overflow: hidden;
  position: relative;
  transition: color 1s;
  margin-bottom: 15vh;
  /* &:hover {
        color: white;
    } */ }

/* .section__explore::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: rgb(29, 28, 28);
    transform: skewX(35deg);
    transition: width 1s;
}

.section__explore:hover::before {
    width: 150%;
} */
/* .section__explore {
    a:hover {
        color: white !important;
    }
} */
.main, .mainFrase2 {
  margin-top: 25vh;
  font-size: 2rem; }

.main, .mainFrase2 {
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  justify-content: space-around; }

.mainFrase2 {
  margin-top: 10vh; }

.contact {
  margin-top: 25vh;
  margin-bottom: 20vh; }
  .contact h2 {
    display: none; }

section {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem; }

.datos {
  margin-top: 25vh;
  margin-bottom: 20vh; }
  .datos h3 {
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem; }
  .datos p {
    font-size: 1.6rem; }

.about {
  margin-top: 20vh;
  font-family: "Cormorant Garamond", serif;
  text-align: justify; }
  .about section {
    font-size: 1.5rem; }

.gallery {
  padding: 80px 0; }
  .gallery img {
    max-width: 100%; }

@media (max-width: 768px) {
  .main, .mainFrase2 {
    margin-top: 20vh; }
  .section__explore {
    margin-top: 10vh; }
  .redes {
    width: 20px;
    height: 20px; }
  .container-fluid {
    padding-left: 0%; } }
