header {
    h1 {
        display: none;
    }
    img {
        margin-left: 15vw;
        width: 70px;
        height: 70px;
        &:hover {
            transform: rotate(90deg);
        }
    }
    li {
        margin-left: 5vw;
        display: inline-block;
        padding-right: 35px;
        color: black;
        list-style-type: none;
        font-family: $font;
        font-size: 1.6rem;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        list-style-type: none;
        display: inline-block;
        padding-right: 20px;
    }
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

.redes {
    @include sizes(32px, 32px)
}