@media (max-width: 768px) {
    .main {
        margin-top: 20vh;
    }
    .section__explore {
        margin-top: 10vh;
    }
    .redes {
        width: 20px;
        height: 20px;
    }
    .container-fluid {
        padding-left: 0%;
    }
}