.mainNews {
    margin-top: 8vh;
    font-family: $font;
    text-align: justify;
    margin-bottom: 10vh;
    li {
        margin: 4vh;
        list-style: none;
        p {
            font-size: 1.5rem;
            a {
                color: crimson;
            }
        }
    }
}