main {
    margin-top: 20vh;
    font-family: $font;
    p {
        font-size: 1.5rem;
    }
}

section {
    margin-top: 5vh;
    .music {
        font-family: $font;
    }
    iframe {
        width: 90vw;
        margin: 0 auto;
        display: block;
        margin-bottom: 10vh;
    }
}