$font: 'Cormorant Garamond',
serif;
header {
    h1 {
        display: none;
    }
    img {
        margin-left: 15vw;
        width: 70px;
        height: 70px;
        &:hover {
            transform: rotate(90deg);
        }
    }
    li {
        margin-left: 5vw;
        display: inline-block;
        padding-right: 35px;
        color: black;
        list-style-type: none;
        font-family: $font;
        font-size: 1.6rem;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        list-style-type: none;
        display: inline-block;
        padding-right: 20px;
    }
    img {
        width: 32px;
        height: 32px;
    }
}

main {
    margin-top: 20vh;
    font-family: $font;
    p {
        font-size: 1.5rem;
    }
}

section {
    margin-top: 5vh;
    .music {
        font-family: $font;
    }
    iframe {
        width: 90vw;
        margin: 0 auto;
        display: block;
        margin-bottom: 10vh;
    }
}