    * {
    /* reseteo */
    margin: 0%;
    padding: 0%;
}

html {
    /* para manejar relación 1rem-10px */
    font-size: 62.5%;
    background-color: rgb(255, 255, 255);
    /* en realidad en el fondo va una animación */
    color: rgb(0, 0, 0);
}

.header__marcaEscondida {
    display: none;
}

.navbar-brand img {
    margin-left: 15vw;
    width: 70px;
    height: 70px;
}

.navbar-nav li {
    margin-left: 5vw;
    display: inline-block;
    padding-right: 35px;
    color: black;
    list-style-type: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.6rem;
}

.navbar-nav li a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    margin-top: 25vh;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    justify-content: space-around;
}

.mainFrase2 {
    margin-top: 10vh;
}

.section__explore {
    display: inline-block;
    margin-top: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 170;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    margin-bottom: 10vh;
}

.section__explore:hover {
    color: rgb(194, 189, 189);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer li {
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
}

.ig {
    width: 32px;
    height: 32px;
}

.fb {
    width: 32px;
    height: 32px;
}

.main__wwd {
    /* width: 90vw; */
    margin-top: 20vh;
    font-family: 'Cormorant Garamond', serif;
}

.wwd__detalle {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
}

.wwdSection {
    margin-top: 5vh;
}

.music {
    font-family: 'Cormorant Garamond', serif;
}

.iframe {
    width: 90vw;
    margin: 0 auto;
    display: block;
    margin-bottom: 10vh;
}

.about {
    margin-top: 20vh;
    font-family: 'Cormorant Garamond', serif;
    text-align: justify;
}

.texto {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    text-align: justify;
}

.mainNews {
    margin-top: 20vh;
    font-family: 'Cormorant Garamond', serif;
    text-align: justify;
    margin-bottom: 10vh;
}

.mainNews li {
    list-style-type: none;
}

.news__article {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
}

.contact {
    margin-top: 20vh;
}

.contact__escondido {
    display: none;
}

.lets {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.datos {
    margin-top: 20vh;
}

.datos h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.datos p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.6rem;
}

.foto1 {
    width: 0 auto;
}

.foto2 {
    width: 0 auto;
}

@media screen and (max-width: 768px) {
    .main {
        margin-top: 20vh;
    }
    .section__explore {
        margin-top: 10vh;
    }
    .ig {
        width: 20px;
        height: 20px;
    }
    .fb {
        width: 20px;
        height: 20px;
    }