* {
    /* reseteo */
    margin: 0%;
    padding: 0%;
}

html {
    /* para manejar relación 1rem-10px */
    font-size: 62.5%;
    background-color: rgb(255, 255, 255);
    /* en realidad en el fondo va una animación */
    color: rgb(0, 0, 0);
    add
}

.header__marcaEscondida {
    display: none;
}


/* .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    width: 100vw;
    position: fixed;
    border-bottom: 1px solid black;
    background-color: white;
}

.header__logo {
    width: 70px;
    height: 70px;
}

.header__logo:hover {
    transform: rotate(90deg);
} */


/* .nav li {
    display: inline-block;
    padding-right: 35px;
    color: black;
    list-style-type: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.6rem;
} */

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li a:hover {
    background-color: black;
    color: antiquewhite;
}


/* .gridIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    grid-template-areas: "main main" "section section" "footer footer";
} */

.main {
    grid-area: main;
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    width: 90vw;
    justify-content: space-around;
    padding: 20%;
    margin-left: -17%;
}

.mainFrase--masCentrada {
    margin-top: 10%;
    margin-left: -20%;
}

.section {
    margin-top: -10%;
    grid-area: section;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 170;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__explore {
    text-decoration: none;
    color: black;
}

.section__explore:hover {
    background-color: black;
    color: rgb(194, 189, 189);
}


/* .section_explore {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer li {
    list-style-type: none;
    display: inline-block;
}

.fb {
    width: 35px;
    height: 35px;
}

.ig {
    width: 35px;
    height: 35px;
}

.wwd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    grid-template-areas: "mainwwd mainwwd" "sectionwwd sectionwwd" "footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.main__wwd {
    grid-area: mainwwd;
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-around;
    margin-left: 4vw;
    margin-top: 25vh;
}

.wwd__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.wwd__detalle {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    text-align: justify;
}

.wwdSection {
    grid-area: sectionwwd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90vw;
    align-items: center;
    margin-left: 4vw;
}

.music {
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    justify-content: space-between;
    margin-top: 5vh;
}

.newsContenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    grid-template-areas: "mainn mainn" "mainn mainn" "footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 100vh;
    width: 100vw;
}

.mainNews {
    grid-area: mainn;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    margin-top: 25vh;
}

.mainNews li {
    display: flex;
    width: 90vw;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 30px;
}

.mainNews h3 {
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.7rem;
}

.news__article {
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
}

.news {
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    grid-template-areas: "maina maina" "gallerya gallerya" "footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 100vh;
    width: 100vw;
}

.mainAbout {
    margin-top: 25vh;
    grid-area: maina;
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    justify-content: space-around;
    margin-left: 4vw;
}

.aboutUs {
    display: inline-block;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.texto {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    justify-content: space-around;
    text-align: justify;
}

.gallery {
    grid-area: gallerya;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 100vw;
}

.gallery1 {
    max-width: 350px;
}

.gallery2 {
    max-width: 350px;
}

.gallery3 {
    max-width: 350px;
}


/* .gallery1 {
    display: flex;
    flex-wrap: nowrap
}

.gallery2 {
    display: flex;
    flex-wrap: nowrap
}

.gallery3 {
    display: flex;
    flex-wrap: nowrap;
} */

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.3fr;
    grid-template-areas: "form datos" "footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 90vh;
    width: 90vw;
}

.form {
    grid-area: form;
    margin-top: 25vh;
}

.lets {
    display: flex;
    flex-direction: row;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    justify-content: center;
}

.lets__form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-items: center;
}

.contact__escondido {
    display: none;
}

.datos {
    grid-area: datos;
    margin-top: 25vh;
}

.datos h3 {
    display: inline-block;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

.datos__detalle {
    /* lala */
}


/* 
@media screen and (max-width: 599px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr;
        grid-template-areas: "header" "main" "section" "footer";
    }
    .header {
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .header__logo {
        margin-left: 0%;
    }
    .header__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }
    .header__menu li {
        padding-right: 0%;
    }
    .header__menu li a {
        font-size: 1rem;
    }
    .main {
        display: flex;
        flex-direction: column;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.5rem;
        margin-top: 40px;
        align-items: center;
    }
    .main__frase {
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }
    .main__frase--masCentrada {
        justify-content: center;
        margin-left: 0%;
    }
    .section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0px;
    }
    .fb {
        width: 15px;
        height: 15px;
    }
    .ig {
        width: 15px;
        height: 15px;
    }
    .wwd {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr;
        grid-template-areas: "headerwwd" "mainwwd" "sectionwwd" "footerwwd";
    }
    .wwdHeader {
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .wwdLogo {
        margin-left: 0%;
    }
    .main__wwd {
        display: inline-block;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.5rem;
        margin-top: 0px;
    }
    .wwd__title {
        display: flex;
        justify-content: flex-start;
        margin-left: 0%;
        font-size: 1.6rem;
    }
    .wwd__detalle {
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.2rem;
    }
    .wwdSection {
        display: flex;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        margin-left: -2vw;
        margin-top: 0%;
    }
    .music {
        display: flex;
        justify-items: space-around;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.6rem;
    }
    .iframe {
        display: flex;
        align-items: center;
        width: 80vw;
        margin-left: 30px;
    }
    .fbFooter {
        width: 15px;
        height: 15px;
    }
    .igFooter {
        width: 15px;
        height: 15px;
    }
    .newsContenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr;
        grid-template-areas: "headern" "mainn" "sectionn" "footern";
    }
    .headerNews {
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .newsLogo {
        margin-left: 0%;
    }
    .mainNews {
        display: inline-block;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.5rem;
    }
    .news {
        display: flex;
        justify-content: flex-start;
        margin-left: 9vw;
        font-size: 1.6rem;
    }
    .mainNews article {
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.2rem;
    }
    .mainNews h3 {
        font-size: 1.4rem;
    }
    .fbNews {
        width: 15px;
        height: 15px;
    }
    .igNews {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr;
        grid-template-areas: "header header" "main main" "section section" "footer footer";
        height: 100vh;
    }
    .header {
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .header__logo {
        margin-left: 0%;
    }
    .header__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 0px;
        justify-content: space-around;
        width: 100vw;
    }
    .header__menu li {
        padding-right: 0%;
    }
    .header__menu li a {
        font-size: 1.3rem;
    }
    .main {
        display: inline-block;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.2rem;
        margin-top: 20px;
    }
    .main__frase {
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }
    .main__frase--masCentrada {
        justify-content: center;
        margin-left: 0%;
    }
    .section {
        margin-top: 0px;
        font-size: 1.1rem;
    }
    .fb {
        width: 20px;
        height: 20px;
    }
    .ig {
        width: 20px;
        height: 20px;
    }
    .wwd {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr;
        grid-template-areas: "headerwwd" "mainwwd" "sectionwwd" "footerwwd";
        height: 100vh;
    }
    .wwdHeader {
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .wwdLogo {
        margin-left: 0%;
    }
    .main__wwd {
        display: inline-block;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.7rem;
        margin-top: 20px;
    }
    .wwd__title {
        display: flex;
        justify-content: flex-start;
        margin-left: 0%;
    }
    .wwd__detalle {
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.5rem;
    }
    .wwdSection {
        display: flex;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        margin-left: -2vw;
        margin-top: 0%;
    }
    .music {
        display: flex;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.7rem;
    }
    .iframe {
        display: flex;
        align-items: center;
        width: 80vw;
        margin-left: 30px;
    }
    .fbFooter {
        width: 20px;
        height: 20px;
    }
    .igFooter {
        width: 20px;
        height: 20px;
    }
    .newsContenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.3fr;
        grid-template-areas: "headern headern" "mainn mainn" "sectionn sectionn" "footern footern";
    }
    .headerNews {
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .newsLogo {
        margin-left: 0%;
    }
    .mainNews {
        display: inline-block;
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.5rem;
    }
    .news {
        display: flex;
        justify-content: flex-start;
        font-size: 1.6rem;
    }
    .mainNews article {
        font-family: 'Cormorant Garamond', serif;
        font-size: 1rem;
    }
    .news__title {
        font-size: 1rem;
    }
    .fbNews {
        width: 20px;
        height: 20px;
    }
    .igNews {
        width: 20px;
        height: 20px;
    }
} */